<div class="container is-widescreen">
  <div class="notification is-primary">
    <form class="signup-form">

      <div class="field">
        <label for="username-signup" class="label">username</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            id="username-signup"
            type="text"
            placeholder="Text input"
            value="bulma"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label for="email-signup" class="label">email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-danger"
            id="email-signup"
            type="email"
            placeholder="Email input"
            value="hello@"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label for="password-signup" class="label">password</label>
        <div class="control has-icons-left has-icons-right">
          <input
            class="input is-success"
            id="password-signup"
            type="text"
            placeholder="Text input"
            value="bulma"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div>
        <button type="submit">signup</button>
      </div>
    </form>

  </div>
</div>

<script src="/javascript/login.js"></script>