<div class="box has-text-weight-bold">
  Ya new here? Signup!
  <form class="signup-form container">

    <div class="field">
      <label for="username-signup" class="label">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input is-success"
          id="username-signup"
          type="text"
          placeholder="Enter Username"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label for="email-signup" class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input is-danger"
          id="email-signup"
          type="email"
          placeholder="Enter Email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
    

    <div class="field">
      <label for="password-signup" class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input is-success"
          id="password-signup"
          type="text"
          placeholder="Enter Password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>


    <div class="control">
      <button
        type="submit"
        class="button is-primary has-background-danger"
      >Signup</button>
    </div>
  </form>
</div>



<form class="login-form container">

  <div class="field">
    <label for="username-login" class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input is-success"
        id="username-login"
        type="text"
        placeholder="Enter Username"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label for="password-login" class="label">Password</label>
    <div class="control has-icons-left has-icons-right">
      <input
        class="input is-success"
        id="password-login"
        type="text"
        placeholder="Enter Password"
      />
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </div>
  </div>

  <div class="control">
    <button
      type="submit"
      class="button is-primary has-background-danger"
    >Login</button>
  </div>
</form>

<script src="/javascript/login.js"></script>