.hero {
  margin-bottom: 50px;
}

.signup-form {
  width: 30%;
  margin: 20px;
  position: relative;
}

.login-form {
  width: 30%;
  margin: 20px;
  position: relative;
}
.footer {
  font-size: small;
  margin-top: 35px;
  margin-bottom: 35px;
}
